body {
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

#calculette {
    background-color: rgb(85, 207, 85);
}

#ecran {
    display: flex;
    margin-left: 37.5%;
    width: 25%;
    background-color: rgb(139, 139, 139);
}

#touches {
    display: flex;
    justify-content: center;
}

#nombres, #operations {
    display: flex;
    flex-direction: column;
}

#nombre {
    display: flex;
}